// MainContainer

@import "~styles/vars";

body
    overflow hidden
    cursor pointer
    pointer-events none

.MainContainer
    overflow hidden
    display block
    min-height 400px
    top 0
    cursor none
    h5
        position absolute

.logo
    display block
    position absolute
    width 53px
    height 50px
    max-width 100px
    max-height 50px
    top 50px
    left 50px
    z-index 1000
    color white
    letter-spacing 20px


